body {
   
   background-image: url('forest.jpg');

}

#status {

position: absolute;

left: 25%;
top: 65%;

	font-family: sans-serif;
	font-size: 16;
	color: yellow;


}

#content {

	position: absolute;
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;

	background-color: lightgray;

	opacity: 0.5;

	font-family: sans-serif;
	font-size: 16;
	color: black;

}