


#content { opacity: 0.5; width: 75%; height: 100%; background-color: black; overflow-y: scroll;    left: 0%; top: 0%; position: absolute;}


#items {opacity: 0.5;  overflow: auto; position: absolute; font-size: 10; left: 75%; top: 0%; border: 0%; width: 25%; height: 100%; background-color: black;    color: white;}

#title {color: yellow; position: absolute; left: 85%; top: 5%; font-family: helvetica; font-weight: bold;}
#subtitle {color: yellow; position: absolute; font-size: 70%; left: 83%; top: 15%; font-family: helvetica; font-weight: bold;}

#canvas { background: transparent;  color: yellow; }

#banner {position: absolute; left: 50%; top: 85%;}

#admin {

	position: absolute; 

	left: 50%;

	top: 50%;

	width: 50%; height: 50%;

       background-color: black; opacity: 0.5;

}